@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5fb7d4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  margin: auto;
  display: block;
}

.navbar {
  margin-bottom: 6.5rem;
}

.navbar a {
  color: #fdfefd;
  font-size: 1.2rem;
}
.navbar a:visited {
  color: #fdfefd;
}

.idea-card {
  border-radius: 1rem;
  /* background-color: #fdfefd; */
  height: 10rem;
  width: 30%;
  margin: auto;
  padding: 1rem;
  margin-bottom: 0.4rem;
  border: 2px solid #4c9bb6;
}

.randomise {
  border-radius: 1rem;
  /* background-color: #fdfefd; */
  height: 10rem;
  width: 30%;
  margin: auto;
  padding: 1rem;
}

.randomise button {
  margin: 0 auto;
  display: block;
  border: 2px solid #4c9bb6;
  padding: 0.6rem 1.7rem 0.6rem 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 0.8rem;
  font-size: 1rem;
  background-color: rgb(131, 202, 226);
  color: white;
  cursor: pointer;
}

.randomise button:hover {
  border: 2px solid #3b7081;
  background-color: white;
  color: #3b7081;
}

.idea-card .description {
  padding-top: 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  height: 6rem;
}

.idea-card .likes {
  width: 15%;
  display: flex;
  margin-right: 1rem;
}

.idea-card .likes img {
  height: 1rem;
  margin-right: 0.6rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.idea-card .likes p {
  font-size: 1rem;
  margin: 0rem;
}
.idea-card .user {
  width: 10%;
  display: flex;
}

.idea-card .user img {
  height: 1rem;
  margin-right: 0.6rem;
  margin-top: 0.3rem;
}

.idea-card .user p {
  font-size: 1rem;
  margin: 0rem;
}

.likedPopup {
  background-color: #7cdebc;
  border-radius: 0.6rem;
  width: 20%;
  margin: 0 auto 0 auto;
  padding: 0.6rem;
  position: absolute;
  bottom: 4%;
  left: 77%;
}
.likedPopup p {
  text-align: center;
  font-weight: bold;
  color: #fdfefd;
}
